*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  min-height: 800px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  padding: 333px 390px;
  justify-content: center; 
  align-items: center;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
  
}

.result {
  display: flex;
  flex-direction: column;
  margin-top: 78px;
  gap: 0;
  width: 711px;
  height: 456px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:nth-of-type(2) {
  margin-top: 265px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 15px
}

.search-form__textfield {
  width: 225px;
  border: none; 
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc; 
  color: #fff;
  font-size: 18px;
  background-color: transparent;  
  appearance: none;
  outline: none;
}

 .search-form__textfield::placeholder {
   color: rgb(255, 255, 255 / 0.7);
   font-size: 18px;
   font-family: 'Fira Sans Condensed', sans-serif;
 }

 /* Внутри — когда поле в фокусе — добавляем outline */
 .search-form__textfield:focus {
  outline: 2px solid #fff; 
}

/* Когда поле в состоянии :focus-visible, но не в :focus — добавьте границу к родителю */
.search-form__fieldset:has(:focus-visible) {
  border: 1px solid #00f; /* граница, когда поле активно и видно фокус */
  padding: 4px; /* подгоните паддинг, чтобы граница не перекрывала текст */
  border-radius: 4px; 
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff; 
  padding: 1px;           
  display: inline-block;  
  background-color: transparent;
}

.search-form__pseudo-checkbox::after {
  content: "";                     
  display: block;                  
  background-color: #fff;          
  width: 100%;                     
  height: 100%;                    
  opacity: 0;                      
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__fieldset:has(.search-form__checkbox-list:focus) {
  outline: 1px solid #fff; 
}

.button {
  border: 1px solid #fff;       
  color: #fff;      
  background-color: transparent;      
  font-size: 18px;      
  font-weight: bold;                   
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  color: #808080; 
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px dashed #fff; 
  box-shadow: 0 0 0 1px #fff; 
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
   width: 390px;
}

.content__details {
  font-family: 'Oswald', sans-serif;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;  
}  

.content__accent {
  color:rgb(84, 80, 80);  
}

.content__list-container {
  height: 298px;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 101px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  cursor: pointer; 
}

.content__card-link_current {
  background-color: #808080;
}

.content__card-link_current:active {
  background-color: #808080;
  color: #fff; 
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__card-link_current {
  outline: none;
}

.content__card-link_current:focus-visible {
  outline: 2px solid #0056b3;
}

.content__list-item {
  padding: 0, 3px;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  height: 103px; 
  min-width: 196px; 
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.content__video-card-thumbnail {
  height: 103px; 
  min-width: 194px; 
  object-fit: cover; 
  object-position: center; 
  width: 100%; 
  display: block;
}


.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
