*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  min-height: 800px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  padding: 133px 30px 133px 30px;
  justify-content: center; /* по горизонтали */
  align-items: center;    /* по вертикали */
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  /*width: 711px;*/
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* убирает возможные отступы */
}

.content__list-container {
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 101px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description-container {
  height: 103px; 
  min-width: 196px; 
}

.content__video-card-thumbnail {
  height: 103px; 
  min-width: 194px; 
  object-fit: cover; /* изображение заполнит контейнер без искажения */
  object-position: center; /* центрирование изображения */
  width: 100%; /* чтобы ширина адаптировалась к контейнеру */
  display: block; /* устранение возможных отступов */
}


.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}



.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/*.content__details:first-child {
  margin-bottom: 26px;
}*/

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
