*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
}

.content {
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.result {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 3px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 16px;
  justify-content: space-around;
}  

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
}

 .search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  width: 225px;
  height: 25px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
  outline: none;
}

.search-form__textfield::placeholder {
   color: rgb(255, 255, 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  display: inline-block;
  background-color: transparent;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
   width: 100%;
   margin-top: 30px;
}

.content__details {
  width: 399px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  width: 260px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}  

.content__accent {
  color:rgb(84, 80, 80);
}

.content__list-container {
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
  color: #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
 outline: none;
}

.content__card-link:focus-visible {
 outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 190px;
}

.content__video-card-title {
  width: 190px;
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  line-height: 100%;
  margin-bottom: 6px;
}

.content__video-card-description {
  width: 190px;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
